.message_back {
    color: #333333;
}

.message_back:hover {
    color: #39A2DB;
}

.cart_row {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.image_cart {
    width: 80px;
    height: 80px;
}