.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 15px 100px;
    z-index: 100000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    background-color: #FFFFFF;
}

.nav .logo {
    position: relative;
    font-weight: 800;
    color: #261C2C;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

.nav .logo:hover {
    color: #39A2DB;
}

.nav ul{
    float: right;
    transition: all 0.5s;
}

.nav ul li {
    position: relative;
    list-style: none;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s;
}

.nav ul li a {
    display: block;
    color: rgba(0, 0, 0, 0.8);
}

.nav ul li .cart_header:hover {
    color: #39A2DB;
}

.login_header {
    bac
}

.nav ul li {
    margin: 0 15px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    transition: all 0.5s;
}

.nav ul ul {
    position: absolute;
    padding: 5px;
    top: 30px;
    left: -2rem;
    right: 0;
    display: none;
    transition: all 0.5s;
}

.nav ul li:hover > ul{
    display: block;
}

.nav ul .dropdown {
    padding: 5px 0;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
    transition: all 0.5s;
}

.nav ul .dropdown i {
    margin-left: 5px;
}

.nav ul ul li {
    width: 120px;   
    font-weight: 500;
    padding: 10px 10px;
    background-color: #fcfcfc;
    border: 1px solid #e0e0e0;
    float: none;
    display: list-item;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}

