.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

svg {
    position: relative;
    width: 75px;
    height: 75px;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 8;
    stroke: #2ea7f8;
    stroke-linecap: round;
    transform: translate(7px, 2px);
    stroke-dasharray:220;
    stroke-dashoffset: 220;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0%, 100% {
        stroke-dashoffset: 440;
    }
    5% {
        stroke-dashoffset: 0;
    }
    50.1% {
        stroke-dashoffset: 880;
    }
}