.alert {
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0e0;
    font-weight: 700;
    padding: 10px 20px;
    color: red;
    border-left: 5px solid red;
    border-radius: 2px;
}