.card_product {
    width: 240px;
    height: 460px;
    display: grid;
    grid-auto-rows: min;
}

.img_card {
    width: 209px;
    height: 209px;
    background-size: cover;
    background-position: center;
}