.button {
    width: 55px;
    height: 30px;
    border: none;
    background-color: #ffee32;
    border-radius: 8px; 
    cursor: pointer;
}

.product_main {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-column-gap: 10px;
    color: #333333;
}

.product_main .img_product-detail {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.product_main .text_product-detail {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.8);
}

.product_main .border_product-detail {
    width: 100%;
    border: solid;
    border-width: 0 0 1px 0;
    border-color: #dbdbdb;
    margin-bottom: 10px;
}

.product_main .rating_product-detail {
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
}

.product_main .price_product-detail {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}

.product_main .descript_product-detail {
    font-size: 16px;
    font-weight: 400;
    color: #767676;
    font-weight: 500;
}

.product_main .border_cart {
    border-radius: 2px;
    border: 1px solid #e0e0e0;
}

.border_main {
    padding: 12px 0;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
}

.border_main .border_title {
    margin-left: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #333333;
    margin-right: 50px;
}

.border_main .border_contants {
    font-weight: 500;
    color: #333333;
    font-size: 18px;
    margin-left: 50px;
}

.border_main .border_contants-two {
    font-weight: 500;
    color: #333333;
    font-size: 18px;
    margin-left: 30px;
}

.border_main .border_contants-three {
    font-weight: 500;
    color: #333333;
    font-size: 18px;
    margin-left: 40px;
}

.button_cart {
    ma
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.btn {
    padding: 15px 40px;
    border-radius: 4px;
    border: none;
    background-color: #f8961e;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}

.border_select {
    display: inline-block;
}

.select-box {
    padding: 5px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}




