.card_product {
    width: 240px;
    height: 460px;
    border-color: #f1f1f1;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: #333333;
    margin-top: 5px;
}

.card_product:hover {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .2);
}

.img_card {
    margin-top: 30px;
    width: 209px;
    height: 209px;
    margin-left: 15px;
    transition: 0.5s all;
}

.img_card:hover {
    transform: translateY(-10px);
    transition: 0.5s all;
}

a {
    text-decoration: none;
}

.title_name {

    margin-left: 5px;
    color: #333333;

}