button {
    width: 55px;
    height: 30px;
    border: none;
    background-color: #ffee32;
    border-radius: 8px; 
}

.product_main {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-column-gap: 10px;
}

.product_main .img_product-detail {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.product_main .text_product-detail {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.product_main .border_product-detail {
    width: 100%;
    border: solid;
    border-width: 0 0 1px 0;
    border-color: #dbdbdb;
    margin-bottom: 10px;
}

.product_main .rating_product-detail {
    margin-bottom: 10px;
}

.product_main .price_product-detail {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

.product_main .descript_product-detail {
    font-size: 16px;
    font-weight: 400;
}

.product_main .border_cart {
    width: 100%;
    border-radius: 2px;
    border-style: solid;
    border-color: #0e0e0e;
    border-width: 1px;
    height: 30rem;
}

