.profile_col {
    display: grid;
    grid-template-columns: 30% 70%;
}

.profile {
    position: absolute;
    width: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
}

.profile h2 {
    margin-top: 15px;
    text-align: center;
    padding: 0 0 25px 0;
    color: #333;
    text-decoration: underline;
}

.profile form {
    padding: 0 40px;
    box-sizing: border-box;
}

.profile .profile_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.profile_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.profile_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.profile_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.profile_field input:focus ~ label,
.profile_field input:valid ~ label {
    top: -5px;
    color: #2691d9;
}

.profile_field input:focus ~ span::before,
.profile_field input:valid ~ span::before {
    width: 100%;
}

.btn_profile {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    background-color: #2691d9;
    margin-bottom: 2rem;
}

.btn_profile:hover {
    color: #fff;
}

.myorder_main h2 {
    text-align: center;
    margin-bottom: 15px;
}

table, th, td{
    border: 1px;
}