.search-input {
    padding: 0.5rem;
    border: 1px solid #e0e0e0;
}

.search-input:focus {
    outline: none;
}

.search-btn {
    padding: 0.58rem 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: ;
}