.search-input {
    padding: 0.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    flex-grow: 1;
}

.search-input:focus {
    outline: none;
}

.search-btn {
    display: inline-block;
    padding: 0.56rem 1rem;
    outline: none;
    border: 0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    background-color: #39A2DB;
    width: max-content;
    flex
}